// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Trading212 from "../../../index.js";

export declare namespace InstrumentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Discover what you can trade. These endpoints provide comprehensive lists
 * of all tradable instruments and the exchanges they belong to, including
 * details like tickers and trading hours.
 */
export class InstrumentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InstrumentsClient.Options>;

    constructor(options: InstrumentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves all accessible exchanges and their corresponding working schedules.
     * Data is refreshed every 10 minutes.
     *
     * **Rate limit:** 1 req / 30s
     *
     * @param {InstrumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Trading212.UnauthorizedError}
     * @throws {@link Trading212.ForbiddenError}
     * @throws {@link Trading212.RequestTimeoutError}
     * @throws {@link Trading212.TooManyRequestsError}
     * @throws {@link errors.Trading212Error}
     * @throws {@link errors.Trading212TimeoutError}
     *
     * @example
     *     await client.instruments.listExchanges()
     */
    public listExchanges(
        requestOptions?: InstrumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Trading212.Exchange[]> {
        return core.HttpResponsePromise.fromPromise(this.__listExchanges(requestOptions));
    }

    private async __listExchanges(
        requestOptions?: InstrumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Trading212.Exchange[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.Trading212Environment.Demo,
                "api/v0/equity/metadata/exchanges",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Trading212.Exchange[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Trading212.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Trading212.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 408:
                    throw new Trading212.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Trading212.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.Trading212Error({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v0/equity/metadata/exchanges",
        );
    }

    /**
     * Retrieves all accessible instruments.
     * Data is refreshed every 10 minutes.
     *
     * **Rate limit:** 1 req / 50s
     *
     * @param {InstrumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Trading212.UnauthorizedError}
     * @throws {@link Trading212.ForbiddenError}
     * @throws {@link Trading212.RequestTimeoutError}
     * @throws {@link Trading212.TooManyRequestsError}
     * @throws {@link errors.Trading212Error}
     * @throws {@link errors.Trading212TimeoutError}
     *
     * @example
     *     await client.instruments.list()
     */
    public list(
        requestOptions?: InstrumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Trading212.TradableInstrument[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: InstrumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Trading212.TradableInstrument[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.Trading212Environment.Demo,
                "api/v0/equity/metadata/instruments",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Trading212.TradableInstrument[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Trading212.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Trading212.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 408:
                    throw new Trading212.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Trading212.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.Trading212Error({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v0/equity/metadata/instruments",
        );
    }
}
