// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Trading212 from "../../../index.js";

export declare namespace AccountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AccountClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccountClient.Options>;

    constructor(options: AccountClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Provides a breakdown of your account's cash and investment metrics,
     * including available funds, invested capital, and total account value.
     *
     * **Rate limit:** 1 req / 5s
     *
     * @param {AccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Trading212.UnauthorizedError}
     * @throws {@link Trading212.ForbiddenError}
     * @throws {@link Trading212.RequestTimeoutError}
     * @throws {@link Trading212.TooManyRequestsError}
     * @throws {@link errors.Trading212Error}
     * @throws {@link errors.Trading212TimeoutError}
     *
     * @example
     *     await client.account.getSummary()
     */
    public getSummary(
        requestOptions?: AccountClient.RequestOptions,
    ): core.HttpResponsePromise<Trading212.AccountSummary> {
        return core.HttpResponsePromise.fromPromise(this.__getSummary(requestOptions));
    }

    private async __getSummary(
        requestOptions?: AccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Trading212.AccountSummary>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.Trading212Environment.Demo,
                "api/v0/equity/account/summary",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Trading212.AccountSummary, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Trading212.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Trading212.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 408:
                    throw new Trading212.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Trading212.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.Trading212Error({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v0/equity/account/summary",
        );
    }
}
