// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Trading212 from "../../../index.js";

export declare namespace PositionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Get a real-time overview of all your open positions, including quantity, average price, and current profit or loss.
 */
export class PositionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PositionsClient.Options>;

    constructor(options: PositionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetch all open positions for your account
     *
     * **Rate limit:** 1 req / 1s
     *
     * @param {Trading212.ListPositionsRequest} request
     * @param {PositionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Trading212.UnauthorizedError}
     * @throws {@link Trading212.ForbiddenError}
     * @throws {@link Trading212.RequestTimeoutError}
     * @throws {@link Trading212.TooManyRequestsError}
     * @throws {@link errors.Trading212Error}
     * @throws {@link errors.Trading212TimeoutError}
     *
     * @example
     *     await client.positions.list({
     *         ticker: "AAPL_US_EQ"
     *     })
     */
    public list(
        request: Trading212.ListPositionsRequest = {},
        requestOptions?: PositionsClient.RequestOptions,
    ): core.HttpResponsePromise<Trading212.Position[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Trading212.ListPositionsRequest = {},
        requestOptions?: PositionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Trading212.Position[]>> {
        const { ticker } = request;
        const _queryParams: Record<string, unknown> = {
            ticker,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.Trading212Environment.Demo,
                "api/v0/equity/positions",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Trading212.Position[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Trading212.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Trading212.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 408:
                    throw new Trading212.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Trading212.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.Trading212Error({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v0/equity/positions");
    }
}
